<% if flash[:message] %>
  <div class="field_with_errors"><%= flash[:message] %></div>
<% end %>

<% if @hike.errors.any? %>
  <div class="field_with_errors">
    <h2><%= pluralize(@hike.errors.count, "error") %> prohibited this hike from being saved:</h2>

    <ul>
      <% @hike.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  </div>
<% end %>